.employee-form {
    padding: 50px 20px;

    &__label {
        font-size: 12px !important;
    }

    &__control {
        margin-top: 20px !important;

        &:first-child {
            margin-top: 0 !important;
        }
    }
}