.table {
    $transition-time: 0.3s;
    &__row {
        transition: background-color $transition-time, color $transition-time;

        &_checked {
            background-color: #3f51b5;

            td {
                color: white;
            }
        }
    }
}