.table {
    $transition-time: 0.3s;

    height: fit-content;

    &__container {
        max-height: 440px;
    }

    &__row {
        transition: background-color $transition-time, color $transition-time;

        &_checked {
            background-color: #3f51b5;

            td {
                color: white;
            }
        }
    }

    &__header-cell-container,
    &__data-cell-container {
        &_fullName {
            $width: 200px;
            width: $width;
            .table__header-cell,
            .table__data-cell {
                width: $width;
            }
        }

        &_position {
            $width: 143px;
            width: $width;
            .table__header-cell,
            .table__data-cell {
                width: $width;
            }
        }

        &_birthDate {
            $width: 129px;
            width: $width;
            .table__header-cell,
            .table__data-cell {
                width: $width;
            }
        }

        &_sex {
            $width: 80px;
            width: $width;
            .table__header-cell,
            .table__data-cell {
                width: $width;
            }
        }

        &_isDismissed {
            $width: 90px;
            width: $width;
            .table__header-cell,
            .table__data-cell {
                width: $width;
            }
        }
    }

    &__header-cell,
    &__data-cell {
        margin: 0;
    }

    &__header-cell {
        &-text {
            font-size: 18px !important;
        }
    }

    &__data-cell {
        overflow-x: auto;
    }
}