.App {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__group {
        display: flex;
        flex-direction: column;

        &_left {
            width: 73%;
        }
    }

    &__controls {
        align-self: flex-end;
    }

    &__form {
        width: 25%;
    }
}